@import "tailwindcss";

:root {
  --color-background: #0f0f0f;
  --color-foreground: #ffffff;
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'Fira Code', monospace;
}

.material-icons.md-60 { font-size: 70px; } 

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
html {
  scroll-behavior: smooth;
}

/* hero */
.animated-gradient-text {
  background-image: linear-gradient(
    to top right,
    #fff, 
    #fff,
    #61a35b
    );
  background-size: 400% auto;
    transition: background-position 0.5s ease-in-out;
}
.animated-gradient-text2 {
  background-image: linear-gradient(
    to top right,
    #fff, 
    #fff, 
    #ed92ff
    );
  background-size: 400% auto;
    transition: background-position 0.5s ease-in-out;
}
.group:hover .animated-gradient-text {
  background-position: 100% 0;
}
.group:hover .animated-gradient-text2 {
  background-position: 100% 0;
}