@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");
@import "tailwindcss";

.material-symbols-outlined,
.material-symbols-filled {
  font-size: inherit !important; 
  line-height: 1;        
}

:root {
  --background: #b6ade0;   /* LIGHT */
  --foreground: #ffffff;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Inter", sans-serif;
  --font-mono: "Fira Code", monospace;
  --font-material-outlined: "Material Symbols Outlined";
  --font-material-filled: "Material Symbols Filled";
}

.material-icons.md-60 {
  font-size: 70px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0f0f; /* DARK */
    --foreground: #ededed;
  }
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
/* html {
  scroll-behavior: smooth;
  overflow-y: scroll;
} */
.fade-up {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.fade-up.visible {
  opacity: 1;
  transform: translateY(0);
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.skeleton {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.05) 25%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.05) 75%
  );
  background-size: 200% 100%;
  animation: shimmer 4s infinite;
}