@import "tailwindcss";

:root {
  --color-background: #0f0f0f;
  --color-foreground: #ffffff;
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'Fira Code', monospace;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
html {
  scroll-behavior: smooth;
}